# Ignore all CSVs in Baseball and Basketball that are huge
data/Baseball/*.csv
data/Basketball/*.csv
data/nfl/*.csv

# Python virtual env
.venv/

# Python cache
__pycache__/

# Databases
*.db

# Logs
*.log
